<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" parallel="methods" thread-count="2">

    <parameter name="BaseUrl" value="https://qa.koel.app/"/>
    <parameter name="PlaylistName" value="New Playlist"/>
    <parameter name="NewPlaylistName" value="Renamed Playlist"/>
    <parameter name="SongName" value="take my hand"/>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="BaseTest"/>
            <class name="LoginTests"/>
            <class name="HomeTests"/>
            <class name="PlaylistTests"/>
        </classes>
    </test>
</suite>